gourmand-api-venv/
.env
**/__pycache__
p_db.txt
p_pass.txt
gourmandapiapp/__pycache__/*.pyc
gourmandapiapp/routers/__pycache__/*.pyc
*.pyc
gourmandapiapp/__pycache__/main.cpython-38.pyc

ap_venv
*.pyc
*.egg-info/
dist/
build/
.vscode/
private_key.pem