{% extends "login.html" %}


{% block head %}
<title> 
    Gourmand - Register
</title>
{% endblock %}

{% block nav_bar_custom %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <ul class="nav navbar-nav navbar-right mr-auto">
        <li class="nav-item">
            <a class="nav-link mr-sm-2" href="/login">Log In</a>
        </li>
    </ul>
  </nav>
{% endblock %}
{% block body %}
    <div>
        <h1>
        Register
        </h1>
    </div>

    <form class="form-horizontal" method="post" action="/auth/register">

        <div class="form-group">
            <label for="email_input">Email </label>
            <input type="email" name="email_input">
        </div>
        <div class="form-group">
            <label for="password_input">Password </label>
            <input type="password" name="password_input">
        </div>
        <div class="form-group">
            <label for="password_input_2">Confirm password </label>
            <input type="password" name="password_input_2">
        </div>
        <div class="form-group">
            <input type="submit" value="Register">
        </div>

        </form>
{% endblock %}
