blockquote {
    margin: 0;
  }

blockquote p {
  padding: 15px;
  background: #4b4b4b;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}